:root{
    --background-color: #f2f6f7;
    --medium-grey: #898989;
    --dark-type: #101010;
}

/* fonts */
@font-face{ /* unused */
    font-family: metropolis;
    src: url(fonts/metropolis-black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face { /* unused */
    font-family: metropolis;
    src: url(fonts/metropolis-bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: metropolis;
    src: url(fonts/metropolis-semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: metropolis;
    src: url(fonts/metropolis-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: metropolis;
    src: url(fonts/metropolis-light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

html{
    font-size: 12px; /* set font size off of which rems will be based */
}

/* style */
/* this is the page load animation */
@keyframes title-fade-in{
    0%{color: turquoise;}
    80%{color: green;}
    100%{color:var(--dark-type);}
}
h1{
    font-family: Metropolis;
    font-weight: 600;
    font-size: 4rem;
    animation: title-fade-in 0.5s ease 0s 1 normal both;
    margin: 0 1rem 0 0;
}

body{
    max-width: 1200px; /*ideally this would be removed for best appearance*/
    background-color: var(--background-color);
    justify-content: center;
    margin: auto;
}
main{
    background-color: var(--background-color);
    box-sizing: border-box;/* width and height includes padding */
    display: flex;
    flex-flow: column;
    padding: 4rem 0 4rem 0;
    height: 100vh;
}

section{
    display: flex;
    flex-flow: row wrap;
}

/* rows are children of the main */
#row-1{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    height: fit-content;
    margin: 0 0 4rem 0; /* control vertical gap between row 1 and 2 */
}
#row-2{
    flex: 1; /* remaining height occupied after rows 1 and 3 heights are fit to content */
    box-sizing: border-box;
    margin: 0 0 0 0.75rem;
    height: auto;
}
#row-3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    height: auto;
    max-height: fit-content;
    padding: 2rem 0 0 0;
    /* with 1200px max width, the page looks nicer without this line */
    /* border-top-style: solid; 
    border-top-width: 1px;
    border-top-color: var(--medium-grey); */
}

/* columns are children of row-2 */
#column-1{
    flex: 2;
}
#column-2{
    flex: 2;
}
#column-3{ /* can use column 3's flex value to control the width of the other two */
    flex: 3;
}

#column-1, #column-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 3rem 0 0;
}

#column-1 div, #column-2 div{
    padding: 0 0 3.5rem 0;
}

#row-1 p{ /* this is the little oval that says "portal page" */
    box-sizing: border-box;
    display: block;
    font-family: metropolis;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--medium-grey);
    padding: 0.5rem;
    border-radius: 10rem;
    border-style: solid;
    border-color: var(--medium-grey);
    border-width: 1px;
}

.section-title{
    box-sizing: border-box;
    margin: 0 0 0.75rem 0;
    display: block;
    font-family: metropolis;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--medium-grey);

}

.link-list{
    display: flex;
    flex-direction: column;
}

.link-list a{
    font-family: metropolis;
    font-weight: 300;
    font-size: 2.25rem;
    text-decoration: none;
    color: var(--dark-type);
    box-sizing: border-box;
    display: block;
    padding: 0 0 0.75rem 0;
}

/* This is the interactive animation*/
@keyframes hover-underline { /* animation to control underline color change */
    0%{text-decoration-color: turquoise}
    22%{text-decoration-color: green}
    45%{text-decoration-color: greenyellow}
    56%{text-decoration-color: yellow;}
    89%{text-decoration-color: greenyellow;}
    100%{text-decoration-color: turquoise;} /* return to beginning color for seamless loop */
}

.link-list a:hover{
    text-decoration: underline;
    text-decoration-color: turquoise;
    text-decoration-thickness: 3px;
    animation: hover-underline 6s ease-in-out infinite; /* call interactive animation */
}

footer p{
    font-family: metropolis;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    color: var(--medium-grey);
    padding: 1rem;
    max-width: fit-content;
}
footer a{
    font-family: metropolis;
    font-weight: 300;
    font-size: 1.5rem; /* this should probably be the same as footer p font-size */
    text-decoration: none;
    color: var(--dark-type);
    box-sizing: border-box;
    display: block;
}
#contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
#contact-container a:hover{
    text-decoration: underline;
    text-decoration-color: turquoise;
    text-decoration-thickness: 3px;
    animation: hover-underline 6s ease-in-out infinite; /* call interactive animation */
}
